.playlist-container(v-if="episodes.length > 1")
  .episodes-container
    Episode(v-for="episode,index in episodes" :showdownload="true" :class="{'in-play': current == index}" :episode="episode" :index="index" :key="index")
