.player-container
  div#player-inner-container
  div.skip-intro-outer-container(v-if="skipIntro > 0" @click="seekSkipIntro")
    div.skip-intro-inner-bg(:style="'left: ' + skipIntro + '%'")
    div.skip-intro-text-container
      span SKIP INTRO

  .details-wrapper(v-if="currentMedia")
    h4
      | {{currentMediaTitle()}}
    p.plot {{plot_details}}
