.player-outer-container
  Episode.next-episode-overlay(v-if="nextEpisodeOverlay && nextEpisodeInOverlay" @click="nextEpisodeAutoPlay()" :showdownload="false" :episode="nextEpisodeInOverlay")
  Player(:episode="currentEpisode" :autoplay="autostart" :threshold="beforenextepthreshold")
  Playlist(:episodes="allEpisodes" :current="currentEpisodeIndex")
