.player-outer-container .jw-nextup-container .jw-skip-intro {
  width: 15%;
}

.player-outer-container .jw-nextup-container .jw-skip-intro .jw-nextup-tooltip {
  height: auto;
}

.player-outer-container .jw-nextup-container .jw-skip-intro .jw-nextup-body {
  position: relative;
}


.player-outer-container .jw-nextup-container .jw-skip-intro .jw-nextup-body  .jw-background-time {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.2);
}
