.player-outer-container * {
  margin: 0;
  padding: 0;
}

.player-outer-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  max-width: 1300px;
  min-width: 800px;
}

.player-outer-container .player-container {
  flex: 0 1 70%;
  justify-content: center;
  text-align: center;
}

.player-outer-container .player-container video {
  max-width: 100%;
  max-height: 100%;
}

.player-outer-container .player-container .details-wrapper {
  text-align: left;
  margin-top: 5px;
}
.player-outer-container .player-container .details-wrapper .plot {
  margin-top: 20px;
  font-size: 16px;
}

.player-outer-container .playlist-container {
  flex: 0 1 30%;
}

.player-outer-container .playlist-container .episodes-container {
  max-height: 500px;
  overflow: auto;
  max-width: 100%;
}


.player-outer-container .next-episode-overlay {
  color: white;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 320px;
  height: 80px;
  z-index: 9999;
  opacity: 0.5;
}


.player-outer-container .skip-intro-outer-container {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  top: 10px;
  left: 10px;
  width: 150px;
  height: 23px;
  border: 1px solid white;
  z-index: 9999;
}

.player-outer-container .skip-intro-inner-bg, .player-outer-container .skip-intro-text-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.player-outer-container .skip-intro-text-container {
  color: white;
}

.player-outer-container .skip-intro-inner-bg {
  background-color: rgba(255, 255,255, 0.5);
}

.skip-intro-text-container


.episode-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px;
  cursor: pointer;
  height: 60px;
}

.episode-item figure {
  flex: 1 1 30%;
}

.episode-item figure img {
  max-width: 100%;
  max-height: 100%;
}

.episode-item .details {
  flex: 1 1 70%;
  margin-left: 5px;
}
.episode-item .details .small {
  font-size: 0.5em;
}


@media screen and (max-width: 1024px) {

  .player-outer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 2em;
    margin: 0;
  }

  .player-outer-container .player-container {
    flex: 0 1 100%;
    top: 0;
    max-height: 56vw;
  }

  .player-outer-container .player-container video {
    max-height: 48vw;
  }

  .player-outer-container .player-container .plot {
    display: none;
  }

  .player-outer-container .player-container .plot.shown {
    display: block;
  }

  .player-outer-container .playlist-container {
    flex: 1;
    position: absolute;
    top: 56vw;
    left: 0;
    right: 0;
    bottom: 0;
    padding-top: 5px;
  }
  .player-outer-container .playlist-container .episodes-container {
    display: flex;
    width: 100%;
    flex-direction: column;
    max-height: 100%;
  }
  .player-outer-container .playlist-container .episodes-container .episode-item {
    flex: 0 0 250px;
  }
}

@media screen and (max-width: 768px) and (orientation: landscape) {

  .player-outer-container .playlist-container {
    display: none;
  }

}
